<%- model_class = Panel -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:category_id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:short_title) %></th>
      <th><%= model_class.human_attribute_name(:font_color) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:slug) %></th>
      <th>Aktuelle Stunde?</th>
      <th><%= model_class.human_attribute_name(:avatar) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @panels.each do |panel| %>
      <tr>
        <td><%= panel.id %></td>
        <td><%= panel.category_name %></td>
        <td><%= panel.title %></td>
        <td><%= panel.short_title %></td>
        <td>
          <div style="display: flex; justify-content: space-around;">
            <%= panel.font_color %>
            <div style="heigth: 30px; width: 50%; background-color: <%= panel.font_color %>"></div>
          </div>
        </td>
        <td><%= panel.description %></td>
        <td><%= panel.slug %></td>
        <td><%= panel.is_battle? %></td>
        <% if panel.avatar.attached? %>
          <td><%= image_tag panel.avatar, height: '50' %></td>
        <% else %>
          <td></td>
        <% end %>
        <td><%=l panel.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_panel_path(panel), :class => 'btn btn-default btn-xs' %>
          <% unless panel.deactivated %>
            <%= link_to 'deactivate',
                        deactivate_panel_path(panel),
                        :class => 'btn btn-default btn-xs' ,
                        method: :patch
            %>
          <% end %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      panel_path(panel),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_panel_path,
            :class => 'btn btn-primary' %>
