<%- model_class = Statement -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:panel_id) %></th>
      <th><%= model_class.human_attribute_name(:audio_file_id) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:quote) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th>Has intro?</th>
      <th>Transcription status</th>
      <th></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @statements.each do |statement| %>
      <tr id=<%= statement.id %>>
        <td><%= statement.id %></td>
        <td><%= statement.panel_title %></td>
        <td><audio src=<%= statement.audio_file_file_link %> controls></audio></td>
        <td><%= statement.user.full_name %></td>
        <td><%= statement.quote %></td>
        <td><%= statement.status %></td>
        <td style="color: <%= statement.intro.present? ? 'green' : 'red' %>"><%= statement.intro.present? %></td>
        <% if statement.transcription.present? %>
          <td style="color: <%= statement.transcription.accepted? ? 'green' : 'red' %>"><%= statement.transcription_status %></td>
        <% else %>
          <td></td>
        <% end %>
        <td>
          <%= link_to 'Accept', accept_statement_path(statement),
              method: :patch, class: 'btn btn-success btn-xs' %>
          <%= link_to 'Reject', reject_statement_path(statement),
              method: :patch, class: 'btn btn-danger btn-xs' %>
        </td>
        <td><%=l statement.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_statement_path(statement), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      statement_path(statement),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
          <%= link_to 'Create intro',
                      create_intro_statement_path(statement), method: :patch, :class => 'btn btn-default btn-xs' %>
          <% if statement.transcription.present? %>
            <%= link_to 'To transcription', transcription_path(statement.transcription), :class => 'btn btn-default btn-xs' %>
          <% else %>
            <%= link_to 'Create transcription',  create_transcription_statement_path(statement), method: :patch, :class => 'btn btn-primary btn-xs' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_statement_path,
            :class => 'btn btn-primary' %>
