<%= form_for transcription, :html => { :class => "form-horizontal transcription" } do |f| %>

  <% if transcription.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(transcription.errors.count, "error") %> prohibited this transcription from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% transcription.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div style="text-align: center;">
    <audio src=<%= transcription.statement.audio_file_file_link %> controls></audio>
  </div>
  <div class="form-group">
    <%= f.label :status, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select(:status, Transcription.statuses.keys.to_a, prompt: true) %>
    </div>
    <%=f.error_span(:status) %>
  </div>
  <div class="form-group">
    <%= f.label :content, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :content, :class => 'form-control', style: 'height: 400px' %>
    </div>
    <%=f.error_span(:content) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                statements_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
