<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to root_path do %>
        <%= image_tag('plura.png', class: 'navbar-brand') %>
      <% end %>
    </div>

    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to 'Workflows', root_path %></li>
    </ul>

    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to 'Panels', panels_path %></li>
    </ul>

    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to 'Users', users_path %></li>
    </ul>

    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to 'Statements', statements_path %></li>
    </ul>

    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to 'Comments', comments_path %></li>
    </ul>

    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to 'Feedback', feedbacks_path %></li>
    </ul>
  </div>
</nav>